<!DOCTYPE html>

<html>
    
    <head>
        
        <title>Lab 7</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="lab7/css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    
    <body>
        
        <h1> Pixabay Search Results </h1>
        
        <form method="GET" action="/lab7/results">
        
            <div id="searchBar" style="margin:auto;max-width:800px">
              <input type="text" name="keyword" placeholder="Search in Images.."  id="keyword" required>
              <select name="orientation" required>
                  <option value="">Select One</option>
                  <option value="horizontal">Horizontal</option>
                  <option value="vertical">Vertical</option>
              </select>
              <button type="submit" id="submit"><i class="fa fa-search"></i></button>
            </div>  
            
            <br><br><hr>
            
            <div id="likesDisplay">
                <span>{{image1.likes}}</span>
                <span>{{image2.likes}}</span>
                <span>{{image3.likes}}</span>
                <span>{{image4.likes}}</span>
                
            </div>
            
            <div id="imageDisplay">
                <img src='{{image1.pic}}'>
                <img src='{{image2.pic}}'>
                <img src='{{image3.pic}}'>
                <img src='{{image4.pic}}'>
            </div>
            
        </form>
        
    </body>
    
</html>